<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='test.css') }}">    
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
    <div class="popup"></div>
    <div class="flex-container">
        <div class="user-info">


            <div class="login-text">
                Please Login
            </div>
            <div class="user-icon">
                <i class="glyphicon glyphicon-user"></i>
            </div>    

        </div>
        <div class="flex-item">
            <div id="editor"></div>
        </div>
        <div class="flex-item-2">
            <input id="Send" type="button" value="Send to Phone" onclick="getInput();"/>
        </div>
    </div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    
</body>
